<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="stylesheet" href="../static/styles/dashboard.css">
    
    <script src="../static/scripts/dashboard.js"></script>
    <link rel='shortcut icon' href="../images/icon.png" />
</head>
<body>
    <header>
        <nav class="navbar">
            <span class="hamburger-btn material-symbols-rounded">menu</span>
            <a href="landingPage.html" class="logo">
                <h2>MyLearnLobby</h2>
            </a>
            <ul class="links">
                <span class="close-btn material-symbols-rounded">close</span>
                <li><a href="dashboard.html">Home</a></li>
                <li><a href="tasks.html">Tasks</a></li>
                <li><a href="note.html">Notes</a></li>
                <li><a href="aboutus.html">About Us</a></li>
            </ul>
            <button class="logout-btn">Log Out</button>
        </nav>
    </header>
    <main>
        <h2>MyDashboard</h2>
        <div class="task-controls">
            <button class="add-course" id="addCourseBtn">Add New Course +</button>
            <button class="tasks" id="tasksBtn">Tasks</button>
            <button class="notes" id="notesBtn" >Notes</button>
        </div>
        <section class="course-details">
            <h3>Course Title:</h3>
            <div id="courseName">{coursename for database query}</div>
            <p>There number of tasks contained in this course are:</p>
            <div id="taskCount">{number from database query}</div>
            <div class="slidecontainer">
                <p>Progress:</p>
                <input type="range" min="0" max="100" value="0" id="myRange">
            </div>
            <button id="openCourse" class="submit">Open Course View</button>
        </section>
        
        <section class="course-details">
            <h3>Course Title:</h3>
            <div id="courseName">{coursename for database query}</div>
            <p>There number of tasks contained in this course are:</p>
            <div id="taskCount">{number from database query}</div>
            <div class="slidecontainer">
                <p>Progress:</p>
                <input type="range" min="0" max="100" value="50" id="myRange">
            </div>
            <button id="openCourse" class="submit">Open Course View</button>
        </section>
    </main>
</body>
<!-- <footer>
    Footer in construction
</footer> -->
</html>
