<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/scripts/request_form.js?{{ cache_id }}"></script>
    <title>MyLearnLobby</title>
</head>
<body>
  <header>
    <div>
      <p>Logo</p>
    </div>
    <div>
      <button id="signUP_bt">Sign up</button>
      <button id="logIN_bt">Log in</button>
    </div>
  </header>
  <main>
    <section>
      <h1>Welcome To My Learn Lobby</h1>
    </section>
  </main>
</body>
</html>
