<!DOCTYPE html>
<html>
<head>
    <!-- <style>
        .visually-hidden {
            position: absolute;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            overflow: hidden;
        }
    </style> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
    <!-- <script src="../static/scripts/processSignUpForm.js?{{ cache_id }}"></script> -->
    <title>My profile</title>
</head>
<body>
    <h2>MyProfile</h2>

    
</body>
</html>