<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="stylesheet" href="../static/styles/tasks.css">
    
    <script src="../static/scripts/tasks.js"></script>
    <link rel='shortcut icon' href="../images/icon.png" />
</head>
<body>
    <header>
        <nav class="navbar">
            <span class="hamburger-btn material-symbols-rounded">menu</span>
            <a href="landingPage.html" class="logo">
                <h2>MyLearnLobby</h2>
            </a>
            <ul class="links">
                <span class="close-btn material-symbols-rounded">close</span>
                <li><a href="dashboard.html">Home</a></li>
                <li><a href="tasks.html">Tasks</a></li>
                <li><a href="note.html">Notes</a></li>
                <li><a href="aboutus.html">About Us</a></li>
            </ul>
            <button class="logout-btn">Log Out</button>
        </nav>
    </header>
    <main>
        
</body>
<!-- <footer>
    Footer in construction
</footer> -->
</html>
