*{
    font-family: "Barlow", sans-serif;
  }
  
  body {
    font-family: "Barlow", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  header {
    display: flex;
    padding: 15px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
    justify-content: space-between;
  }
  
  #logo {
    height: 50px;
  }
  
  nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
  }
  
  nav a:hover,
  nav a:active {
    margin-left: 20px;
    text-decoration: none;
    color: #ece45f;
    font-size: 16px;
    font-weight: bold;
  }
  
  .btn-logout,
  .btn-logout:active,
  .btn-logout:focus,
  .nav-button,
  .nav-button:active,
  .nav-button:focus,
  .btn-send,
  .btn-send:active,
  .btn-send:focus {
    background: linear-gradient(45deg, #0191df, #00ffde);
    text-decoration: none;
    border: 0px;
    border-radius: 50px;
    color: white;
    padding: 5px 30px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    outline: none;
  }

  .btn-logout:hover,
  .btn-logout:visited,
  .nav-button:hover,
  .nav-button:visited,
  .btn-send:hover {
    background: linear-gradient(45deg, #4ebffc, #69fce9);
    text-decoration: none;
    outline: none;
    color: white;
  }
  
  .btn-logout i,
  .nav-button i,
  .btn-contact i {
    margin-left: 8px;
  }
  
  .btn-contact,
  .btn-contact:active,
  .btn-contact:focus {
    background-color: #ece45f;
    text-decoration: none;
    border: 0px;
    border-radius: 50px;
    color: white;
    padding: 5px 30px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    outline: none;
  }
  
  .btn-contact:hover,
  .btn-contact:visited {
    background-color: #f8f274;
    text-decoration: none;
    outline: none;
  }
  
  .btn-close,
  .btn-close:active,
  .btn-close:focus {
    background-color: #4e4e4e;
    text-decoration: none;
    border: 0px;
    border-radius: 50px;
    color: white;
    padding: 5px 30px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    outline: none;
  }
  
  .btn-close:hover {
    background-color: #727272;
  }

  .decorative_col {
    width: 5px;
    margin: 0 10px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(236 228 95);
  }

  .user-section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .user-section  label{
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      margin: 0 20px;
  }
  
  .user-section i{
      font-size: 18px;
  }
  
  .user-section .username
  {
      margin-bottom: 10px;
  }
  
  .user-section .nav-button{
      margin-right: 10px;
  }

/********************END OF NAVIGATION SECTION ******************/


.left_section {
height: max-content;
display: flex;
align-items: center;
}

.left_section h2 {
height: min-content;
margin: 0;
font-weight: bolder;
}

.sub-header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 50px;
}

/****************************END OF SHARED STYLES ************************/
.menu {
display: flex;
justify-content: space-between;
column-gap: 10px;
align-items: center;
margin-bottom: 20px;
}

.menu{
margin-bottom: 50px;
}

.menu .menu-button {
width: -webkit-fill-available;
}

.menu-button {
border: 2px solid #275360;
outline: none;
background: #fff;
color: #275360;
font-size: 1rem;
font-weight: 600;
padding: 10px 18px;
border-radius: 10px;
cursor: pointer;
transition: 0.15s ease;
}

.menu-button.addCoursebtn{
    margin-left: 50px;
}

.menu-button:hover {
border-color: #0191df;
color:  #0191df;
cursor: pointer;
}

.nav-button
{
    height: fit-content;
    width: max-content;
}

main {
    min-height: calc(100vh);
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    background-image: linear-gradient(135deg, #1da1f2, #981ceb);
}


.course-selection p {
font-size: 30px;
}

.tasks {
    position: relative;
    display:flex;
    flex-direction: row;
    width:100%;
    margin: 0;
}

.tasks-button-box {
    width: max-content;
}




/* goals and tasks lists */
.list-section {
    width: 100%;
margin-bottom: 20px;
}
.list-section h4 {
    position: relative;
    flex-direction: column;
    color: black;
    margin-bottom: 10px;
}
.list-section ul {
    width: 100%;
list-style-type: none;
padding: 0;
}
.list-section ul li {
background-color: #e9ecef;
margin-bottom: 5px;
padding: 10px;
border-radius: 5px;
}
  

.tasks-list {
    list-style: none;
    padding: 0;
}
.tasks-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


.courses{
      margin: 20px 0px;
      padding: 0 0px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
}

.course-details {
    height: fit-content;
    background-color: #f3f3f3;
    border: 1px solid #275360;
    border-radius: 10px;
    max-width: -webkit-fill-available;
    padding: 20px;
    margin: 0 0px;
    display: flex;
    flex-direction: column;
    column-gap: 3em;
    align-items: center;
}

.course-details h3 .course-title{
    font-weight: 200;
    margin-left: 10px;
}

.course-details, .row-field, .field{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin: 0 0px;
}

.course-details .field label{
    margin: 0 0px;
    font-weight: 700;
}

.course-details .field p {
    font-size: 1rem;
    margin: 0 0px;
}

.cours-progress {
    margin-left: 20px;
}

.course-progress p {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 10px 0px;
}

.progress-bar {
    background-color: #007bff;
}
    


Footer a {
    color: #0bc6e2;
}

Footer a{
    color: #5ce1f5;
}
